@import '../../../src/scss/variables';

.search-bar{
  margin: 30px;
  border: 1px solid #CA9B55;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;
  &__icon{
    margin-right: 10px;
    margin-top: 8px;
  }
  input{
    font-size: 18px;
    outline-offset: 0;
    outline: none;
    border: none;
    color: #F5D8AD;
  }
     ::placeholder {
      color: $brown;
      opacity: 1;
    }

}