.topWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 14px;
  .cartHeading {
    font-size: 20px;
    font-weight: 700;
    color: #2f3841;
  }
  .cartRemoveAll {
    font-size: 14px;
    font-weight: 600;
    color: #e44c4c;
    cursor: pointer;
    border-bottom: 1px solid #e44c4c;
  }
}

.cartBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;

  .cartWrap {
    // width: 80%;
    // height: 700px;
    // overflow-y: scroll;
    // scroll-behavior: smooth;

     .cartItems {
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 25px 40px #1687d933;
      margin: auto;
      margin-bottom: 20px;
      width: 700px;
      height: 195px;
      display: flex;
      justify-content: space-between;
      .imageBox {
        background-color: #f5f5f5;
        margin: 20px;
        border-radius: 17px;
        height: 160px;
        width: 170px;
        .cartImg {
          height: 142px;
          width: 107px;
          margin-left: 8px;
          margin-top: 8px;
          border-radius: 17px;
        }
      }
      .infoLeft {
        display: flex;
        justify-content: space-around;
        margin: 15px;
        margin-top: 22px;
        width: 100%;
        .about {
          color: #202020;
          width: 100%;
          .title {
            padding-top: 5px;
            line-height: 10px;
            font-size: 16px;
            font-weight: 800;
            color: #202020;
          }
          .size {
            color: #202020;
            font-size: 12px;
          }
          .prices {
            color: #202020;
          }
          .before {
            text-decoration: line-through;
          }
          .after {
            color: red;
          }
          .btn {
            // margin: 0 auto;
            height: 40px;
            width: 90px;
            outline: 0;
            margin-top: 10px;
          }
        }
      }

      .infoRight {
        .trash {
          margin-left: 30px;
          cursor: pointer;
        }
        .counterWrap {
          margin-right: 10px;
          .counter {
            display: flex;
            justify-content: space-around;
            font-size: 16px;
            .plus {
              border: 1px solid #f6f6f6;
              background-color: #f6f6f6;
              cursor: pointer;
              border-radius: 30px;
              margin-right: 10px;
              width: 24px;
              height: 24px;
              P {
                text-align: center;
                color: #202020;
              }
            }
            .minus {
              margin-left: 10px;
              border: 1px solid #f6f6f6;
              background-color: #f6f6f6;
              border-radius: 30px;
              width: 24px;
              height: 24px;
              P {
                text-align: center;
                color: #202020;
              }
            }
          }
        }
      }
    }
  }
}

.checkoutBlock {
 position: sticky;
 top: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  width: 25%;
  height: 150px;
  .title {
    margin: 12px;
    padding-top: 5px;
    line-height: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #202020;
  }
  .delimiter {
    width: 100%;
    height: 0.4%;
    background-color: #11131433;
    margin-top: 14px;
  }
  .checkout {
    margin: 12px;
    display: flex;
    justify-content: space-between;
  }
  .checkoutBtn {
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    outline: 0;
    margin: 10px;
    margin-left: 14px;
    margin-bottom: 12px;
  }
  .checkoutBtn:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }
}
button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0 25px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 90%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}
